rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if request.auth.uid == document;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /memories/{document} {
      allow create: if request.auth.uid == request.resource.data.user_id;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /memories/{parent}/moments/{document} {
      allow create: if request.auth.uid == get(/databases/$(database)/documents/memories/$(parent)).data.user_id;
      allow read: if request.auth.uid == get(/databases/$(database)/documents/memories/$(parent)).data.user_id;
      allow write: if request.auth.uid == get(/databases/$(database)/documents/memories/$(parent)).data.user_id;
      allow delete: if request.auth.uid == get(/databases/$(database)/documents/memories/$(parent)).data.user_id;
    }

    match /nfcData/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }
  }
}
